/* Featured.css */

/* Initial hidden state */
.hidden {
    opacity: 0;
    transform: translateY(10px); /* For text */
  }
  
  .hidden-left {
    opacity: 0;
    transform: translateX(-100%); /* For slider */
  }
  
  /* Visible state with fade-in and slide-in */
  .visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .visible-left {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  